# Local and dinamic folders
cmake-build-debug/
build
.idea/

# Dinamically created by doxygen documentation files
doc/html/*
doc/latex/*

# Dinamically generated model files
bin
top.hpp
top_model_definitions.hpp
parameters*.xml

# Output files
**_diagram.json
test/utilities/*.xml
model_generator/*.json

# Python modules
model_generator/PMGBP.egg-info
model_generator/dist/

# Virtualenv
env/

# Others
**.pyc
