[submodule "vendor/tinyxml2"]
	path = vendor/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "vendor/cadmium"]
	path = vendor/cadmium
	url = https://github.com/SimulationEverywhere/cadmium.git
[submodule "vendor/DESTimes"]
	path = vendor/DESTimes
	url = git@github.com:SimulationEverywhere/DESTimes.git
[submodule "vendor/MeMoRe"]
	path = vendor/MeMoRe
	url = git@github.com:SimulationEverywhere/MeMoRe.git
[submodule "vendor/CadmiumModelJSONExporter"]
	path = vendor/CadmiumModelJSONExporter
	url = git@github.com:SimulationEverywhere/CadmiumModelJSONExporter.git
