# Local and dinamic folders
cmake-build-debug/
build
.idea/

# Dinamically created by doxygen documentation files
doc/html/*
doc/latex/*

# Dinamically generated model files
bind/*
top.hpp
top_ports.hpp
parameters.xml

# Output files
**_diagram.json
test/utilities/*.xml
model_generator/*.json

# Others
**.pyc